{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Prasad iyer</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Prasad. Currently Pursuing Bachelors in
                    Computer Engineering.</p>
            </center>
            <div>
                <h5>Social Media :</h5><br>
                <a target="_blank" href='mailto:iyerprasad25@gmail.com'>Gmail</a> :
                        iyerprasad25@gmail.com<br><br>
                <a target="_blank" href='https://prasad-iyer.onrender.com'>Name:</a> : Prasad iyer<br>
                <a target="_blank" href='https://prasad-iyer.onrender.com'>Phone no:</a> : 8779849708<br>
                <br>
                
            </div>
        </div>
    </div>

    
</div>

{% endblock body %}